<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/about_team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="page_title">
        <h1>Who Are We</h1>
    </div>

    <div class="team_intro">
        <p>
            We are a small team of web developers and designers based in San Francisco State University. We are specialed in JavaScript, Python and MySQL.
        </p>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/static/images/luis.jpg"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Luis Chumpitaz</h4>
                    <p class="title">Team Lead</p>
                    <a href="https://github.com/luisdiaz1997" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/luis-chumpitaz-diaz-b98167140/" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="mailto:lchumpit@mail.sfsu.edu" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>


            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>

            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>


            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>


            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>


            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>


            <div class="card">
                <img src="https://avatars1.githubusercontent.com/u/13373743?s=400&u=9645bc48f5baf88636ec1f56e9ed869874670160&v=4"
                        alt="Steve" style="width:100%">
                <div class="container">
                    <h4 center>Steve Jobs</h4>
                    <p class="title">CEO &amp; Founder</p>
                    <a href="#" id="share-git" class="sharer button"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" id="share-li" class="sharer button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#" id="share-em" class="sharer button"><i class="fa fa fa-envelope-square" aria-hidden="true"></i></a>
                    <!-- <a href="#" id="share-fb" class="sharer button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" id="share-tw" class="sharer button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" id="share-gp" class="sharer button"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" id="share-ins" class="sharer button"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
                </div>
            </div>

        </div>
    </div>
</body>
</html>
