<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SF State of Code</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-team-members" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">SFSC</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-team-members">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--  -->

    <!-- Dropdown -->
    <form method="POST" class="container2" style="width: 50%;
            height: 50px;
            background: aqua;
            margin: auto;
            padding: 10px;">
        <div class="one" style="width: 15%;
                height: 50px;
                float: left;">
            <!-- Dropdown Item 1-->
            <select id='housingType' name="housingType" style='width: 200px;'>
                <option value='0'>Type: House/Apartment/Room</option>
                <option value='House'>House</option>
                <option value='Apartment'>Apartment</option>
                <option value='Room'>Room</option>
            </select>
        </div>

        <!-- Search -->
        <div class="search" style="margin-left: 35%; height: 20px;">
            <input type="text" autofocus="autofocus" name="search_string" placeholder="Search..">
            <!-- Search form action routing -->
            <input type="submit" formaction="/search4" value="Submit">
        </div>
    </form>

    <!-- Placeholder h1 -->
    <div class="container" style="background: rgb(211, 211, 211);margin: auto;">
        <h1 style="text-align:center;"> Work in Progress... </h1>
    </div>

    <!-- Results -->
    <div id="results_container" class="container" style="background: rgb(179, 255, 223);margin: auto;">
        <h1 style="text-align:center;"> Results: </h1>
        <br>
        <table border=1>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>