<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <script>
          //  var text =  JSON.parse({{ images|tojson|safe }});
          //  var question = document.getElementById("fkEmail");
          //  var image= document.getElementById("image");
        
    </script>
  </head>


  
<h3>{{ title }}</h3>
{% if listing %}

<h1>{{ images }}</h1>
    <table>
        <thead>
            <tr>
                <th>email</th>
                <th>password</th>
                <th>Has Image</th>
            </tr>
        </thead>
    </table>
    <tbody>
        {%for row in listing %}
        <tr>
            <td>{{ row.email }}</td>
            <td>{{ row.password }}</td>
            {% if images %}
                {% for rows in images %}
                    {% if rows.fkEmail == row.email  %} 
                        <td>{{ rows.path }} yes</td>    
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br>
        </tr>
        {% endfor %}
    </tbody>

{% endif %}

  <footer></footer>