<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>

    <script>
  </script>
  </head>


  
<h3>{{ title }}</h3>
{% if lsiting %}

    <table>
        <thead>
            <tr>
                <th>email</th>
                <th>password</th>
            </tr>
        </thead>
    </table>
    <tbody>
        {%for row in lsiting %}
        <tr>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
        </tr>
        {% endfor %}
    </tbody>

{% endif %}

  <footer></footer>