<!doctype html>
<html>

  <head>
    <title>{{ title }}</title>
    <script>
          //  var text =  JSON.parse({{ images|tojson|safe }});
          //  var question = document.getElementById("fkEmail");
          //  var image= document.getElementById("image");
          <link rel="stylesheet" type="text/css" href="/static/css/verticalPrototype.css">
    </script>
  </head>


<body>

    <h3>{{ title }}</h3>
    <h2> {{ images }}</h2>
    {% if images %}
    {%for row in images %}
    <div class='some-page-wrapper'>
        <div class='row'>
          <div class='column'>
            <div class='blue-column'>
                {{ row.title }}
            </div>
          </div>
          <div class='column'>
            <div class='descript-column'>
                {{ row.description }}
            </div>
          </div>
          <div class='column'>
            <div class='imgs-column'>
                {% set img = row['path'] %}
                <img src= {{ img }} style="width:128px;height:128px;">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


    <section name="headerTitles" style="display:flex; flex-direction: row;">
        <header>
                    <div>description</div>
                    <div>price</div>
                    <div>rooms</div>
                    <div>has Image</div>

        </header>
        {%for row in images %}
        
        <div  style="flex: 1">
                <div>{{ row.description }}</div>
                <div>{{ row.price }}</div>
                <div>{{ row.rooms }}</div>
                {% set img = row['path'] %}
                <div> <img src= {{ img }} style="width:128px;height:128px;"></div> 
            <br>
            <br>
        </div>
            {% endfor %}
    </section>   
    {% endif %}
        {% if users %}
        {{ users }}
        {% endif %}
        {% if message %}
        {{ message }}
        {% endif %}
</body>
  <footer></footer>