body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-left:20%;
    margin-right:20%;
    background: #ececec;
}

.page_title{
    margin-top: 30px;
    color: black;
    margin-bottom: 30px;  
}

.team_intro{
    margin-bottom: 60px; 
    color: grey; 

}

.row{
    display: flex;
    justify-content: center;
    /* margin:20%;
    margin-top: 10px; */
}
.card {
    float: left;
    width: 100%;
    max-width: 200px;
    margin-bottom: 16px;
    padding:8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  
  .title {
    color: grey;
  }
  
  .button {
    display: inline;
    padding: 5px;
    color: grey;
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: lightgrey;
    border-radius: 10px;
  }



