.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.imgs-column {
  background-color: blue;
  height: 100px;
}

.descript-column {
  background-color: green;
  height: 100px;
}
