<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>SF State of Code</title>

  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174684984-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-174684984-1');
  </script>

  <style>
    .col-md {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
    }
  </style>
</head>

{% extends 'navbar.html' %}
<body>
{% block content %}
  <!-- Jinja Macros -->
  {% macro capitalize(text) %}
    {{ text[0]|upper}}{{text[1:] }}
  {% endmacro %}

  <div id="app">
    <!-- Message Container -->
    <b-container>
      <h1 style="margin-top: 30px;">{{reciever}}'s Dashboard</h1>
      <h2 style="margin-top: 20px;">My Properties</h2>
      {% for lis in listings %}
      <b-container>
        <b-row>
          <b-col>
            <p class="h6 mb-3" style="margin-top:8px">{{lis['street_address']}}, {{lis['city']}}, {{lis['postalCode']}} </p></b-col>
          </b-col>
          <b-col>
	   {% if lis['adminAppr'] == 1%}
            <b-button variant="success" size="sm">Approved</b-button>
	    {% else %} 
            <b-button variant="danger" size="sm">Pending</b-button>
	    {% endif %}
          </b-col>
        </b-row>

      </b-container>
      {% endfor %}


<!-- divider line  -->
      <!-- <h1>My Messages</h1> -->
    <hr/>
    <b-row >
      <b-col>
      <h2 >My Messages</h2>
      <h6 style="margin-left: 35px; margin-top: 20px; color:grey">Total messages: {{numMessages}}</h6>
      </b-col>
      <!-- sort button -->
      <!-- <b-col style="margin-top: 15px;" cols="4" md="2">
        <b-dropdown id="dropdown-right" right variant="light" text="Sort" size="lg">
          <b-dropdown-item href="#">Sort: Date</b-dropdown-item>
          <b-dropdown-item href="#">Sort: Title of property</b-dropdown-item>
        </b-dropdown>
        </b-col>
      </b-row> -->
      <!-- scroll bar -->
      <div id="overflowScroll">
        {% for mess in messages %}


      <!-- message section start -->
      <b-row>
        <!-- style="border: 1px solid; border-color:grey; -->
        <!-- left:house info; right: message start here -->
        <b-col class="p-5" sm="5">
          <!-- house info(one line) start from here  -->
          <b-row>
            <!-- put icon -->
            <b-col sm="1"><p class="h6 mb-1"><b-icon icon="geo-alt" variant="primary"></b-icon></p></b-col>
            <!-- put info -->
            <b-col>
              <p class="h6 mb-3">{{mess['fk_listing_id'] | get_address_by_id}}</p>
            </b-col>
          </b-row>
          <!-- house info(one line) end from here  -->
          <b-row>
            <b-col sm="1"><p class="h6 mb-1"><b-icon icon="envelope-fill" variant="dark"></b-icon></p></b-col>
            <b-col><p class="h6 mb-3">{{mess['email']}}</p></b-col>
          </b-row>
          <!-- <b-row>
            <b-col sm="1"><p class="h6 mb-1"><b-icon icon="telephone-fill" variant="success"></b-icon></p></b-col>
            <b-col><p class="h6 mb-3">(617)622-1234</p></b-col>
          </b-row> -->
          <!-- left:house info; right: message end from here -->
        </b-col>
        <!-- message box start from here -->
        <b-col class="p-3" sm=6>
          <b-row>
            <!-- <b-col><h5>{{mess['fkSender']}}</h5></b-col> -->
            <b-col cols="auto">{{mess['timeCreated']}}</b-col>
          </b-row>

          <b-row class="p-3 pill bg-light" sm=8>
            {{mess['message']}}
          </b-row>
        </b-col>
        <!-- message box end from here -->
      </b-row>
      <!-- messeage section end --><!--Thank you for your commenting, this savved me soo much time-->
      {% endfor %}

      <!-- message section start -->
      <!-- <b-row> -->
        <!-- style="border: 1px solid; border-color:grey; -->
        <!-- left:house info; right: message start here -->
        <!-- <b-col class="p-5" sm="5"> -->
          <!-- house info(one line) start from here  -->
          <!-- <b-row> -->
            <!-- put icon -->
            <!-- <b-col sm="1"><p class="h6 mb-1"><b-icon icon="geo-alt" variant="primary"></b-icon></p></b-col> -->
            <!-- put info -->
            <!-- <b-col><p class="h6 mb-3">1600 Holloway Ave, San Francisco, CA 94132</p></b-col>
          </b-row> -->
          <!-- house info(one line) end from here  -->
          <!-- <b-row>
            <b-col sm="1"><p class="h6 mb-1"><b-icon icon="envelope-fill" variant="dark"></b-icon></p></b-col>
            <b-col><p class="h6 mb-3">ABC@mail.sfsu.edu</p></b-col>
          </b-row>
          <b-row>
            <b-col sm="1"><p class="h6 mb-1"><b-icon icon="mic-fill" variant="success"></b-icon></p></b-col>
            <b-col><p class="h6 mb-3">(617)622-1234</p></b-col>
          </b-row> -->
          <!-- left:house info; right: message end from here -->
        <!-- </b-col> -->

        <!-- message box start from here -->
        <!-- <b-col class="p-3" sm=6>
          <b-row>
            <b-row>
              <b-col>
                <h5>Ivy</h5>
              </b-col>
              <b-col cols="auto">
                17: 30  Jul 31, 2020
              </b-col>
            </b-row>
          </b-row>
          <b-row class="p-3 pill bg-light" sm=8>
            Hi, My name is Ivy, I am a student of SFSU. I am interested in your home at 2222 Fruitdale Ave, South San Francisco. You can conntact me by phone and email.
          </b-row>
        </b-col> -->
        <!-- message box end from here -->
      <!-- </b-row> -->
      <!-- messeage section end -->
    </b-container>

    </div>

{% endblock %}
{% block script %}

    <script type="application/javascript">

        window.app = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],

        });
    </script>

{% endblock %}
</body>
</html>
