<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <title>Signup</title>
    
        <!-- Required Stylesheets -->
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    
        <!-- Required scripts -->
        <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
        <script src="/static/js/navbar.js"></script>
    <script>

    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
      
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].style.backgroundColor = "";
        }
      
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
      
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();</script>
      <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
<!-- Jinja Macros -->
{% macro capitalize(text) %}
  {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div id="app">
  <navbar-component></navbar-component>

  <!-- new signup -->
  <b-container align="right">
    <div>

        <b-button pill id="show-btn" @click="$bvModal.show('bv-modal-example')">Log in / Sign up</b-button>
      
        <b-modal id="bv-modal-example" hide-footer >
          <template v-slot:modal-title>
              <!-- <b-row>
                <p class="mx-auto bg-info" style="width: 200px"> Login</p>
              </b-row>
              <p class="mx-auto bg-info" style="width: 200px"> Login</p> -->
            <h2>Sign Up</h2>
          </template>

          <div class="d-block">
            <template>
                <div class="vue-tempalte">
                    <form>
			<div>
				<b-form-group>
					<b-form-radio v-model="selected" name="some-radios" value="SFSU_Member">SFSU Member</b-form-radio>
					<b-form-radio v-model="selected" name="some-radios" value="Non_SFSU_Member">Non SFSU Member</b-form-radio>
				</b-form-group>
			</div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control form-control-lg" />
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control form-control-lg" />
                        </div>
            
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control form-control-lg" />
                        </div>
			<div class="form-group pb-2">
				<b-form-checkbox id="checkbox-1" v-model="status" name="checkbox-1" value="accepted" unchecked-value="not_accepted" > I accept the terms and use </b-form-checkbox>
			</div>
            
                        <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>

                        <b-row>
                            <b-col class="col-md-autoi" align-self="right">
                                <p class="forgot-password text-right mt-2 mb-4">
                                    <router-link to="/login">Already have an account?</router-link>
                                </p>
                            </b-col>
                        </b-row>          
                    </form>
                </div>
            </template>

          </div>
          <!-- <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-example')">Close Me</b-button> -->
        </b-modal>
      </div>
      


  </b-container>
<!-- new signup end -->



    <b-container>
    <div class="container">
        <!-- Results Count -->

        <!-- Card Template (templated with Jinja below)-->
        <!-- <div class="row">
                  <b-card img-src="https://static.thenounproject.com/png/330148-200.png" img-alt="Card image" img-left
                      class="mb-3">
                      <b-card-text>
                          Some quick example text to build on the card and make up the bulk of the card's content.
                      </b-card-text>
                  </b-card>
              </div> -->

        {% for listing in results_list_of_dicts %}
        <!-- <div class="row">
            <b-card img-src="{{listing.path}}" img-alt="Card image" img-left class="mb-3" img-height="128px">
                <b-card-text>
                    <h2>{{listing.title}}</h2>
                    <h3>${{listing.price}}</h3>
                    {{listing.description}}
                </b-card-text>
            </b-card>
        </div> -->

        {% endfor %}
    </div>
</div>

    <div class="bundle">    
        <button class="tablink" onclick="openPage('Home', this, 'rgba(18, 185, 35, 0.25)')">Login</button>
        <button class="tablink" onclick="openPage('Signup', this, 'rgba(18, 185, 35, 0.25)')" id="defaultOpen">Signup</button>
    
            <div id="Home" class="tabcontent">
            {% macro displayField(fieldName, placeholderValue) %}
            <div>
                {{ fieldName(class ='form-control', placeholder=placeholderValue, **kwargs) }}
                <ul>
                    {% for error in fieldName.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endmacro %}
                <h2> Login </h2>
                <p>
                    Enter Username & Password in provided fields to Login
                </p>
            <form action = " {{ url_for('login') }}", method = "POST">
                {{ displayField(form.username, 'username', autocomplete="off", autofocus=true)}}
                {{ displayField(form.password, 'password')}}

                <div>
                    {{ form.submit_button}}
                </div>
                <!-- for later making sure the email is valid?  -->
                {{ form.csrf_token}}
            </form>

                    
            </div>

            <div id="Signup" class="tabcontent">
            {% macro displayField(fieldName, placeholderValue) %}
            <div>
                {{ fieldName(class ='form-control', placeholder=placeholderValue, **kwargs) }}
                <ul>
                    {% for error in fieldName.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
        
            </div>
            {% endmacro %}
        
            <h2> Signup New User </h2>
            <p>
                Enter Username & Password & Email into provided fields to create new user.
            </p>
            <form method = "POST">
                {{ displayField(regForm.usernameR, 'username', autocomplete="off", autofocus=true)}}
                {{ displayField(regForm.passwordR, 'password')}}
                {{ displayField(regForm.email, 'email')}}

                
                <!-- for later making sure the email is valid?  -->
                <button>Register</button>
            </form>
            </div>
        </b-container>



            <script>
                window.app = new Vue({
                        el: '#app',
                        delimiters: ['[[', ']]'],
                    })
                </script> 
    </div>

</body>

</html>
