<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>SF State of Code</title>

  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link type="text/css" rel="stylesheet" href="../../static/css/post.css" />

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async
    defer> </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174684984-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-174684984-1');
  </script>

  <!-- for validations -->
  <script src="https://unpkg.com/vee-validate@<3.0.0"></script>

  <style>
    .col-md {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .container1 {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;

    }
  </style>
</head>

{% extends 'navbar.html' %}
<body>
{% block content %}
  <!-- Jinja Macros -->
  {% macro capitalize(text) %}
  {{ text[0]|upper}}{{text[1:] }}
  {% endmacro %}

  <div id="app">
    <div style="width: 80%; margin: auto;">
      <!-- Jumbotron Container -->
      <b-container fluid class="container1">
        <h1 style="margin-top: 30px;"><b>Create Listing</b></h1>

        <hr style="border: 0.5px solid #e7e7e7">

        <div class="card border-0">
          <b-col sm="6">
          <div >
            <b-form-group id="address-input-group" label="Listing Type" label-size="lg" style="text-align: left;"
              label-class="font-weight-bold pt-0">

                <b-form-radio-group style="margin-right: 0px;" id="btn-radios-1" v-model="selected" :options="listingOptions" buttons
                  button-variant="outline-primary" name="radios-btn-default" required></b-form-radio-group>

            </b-form-group>
          </div>
          </b-col>
        </div>


        <hr style="border: 0.5px solid #e7e7e7">
        <div class="card border-0">
          <b-col sm="6">
          <div>
            <b-form-group id="address-input-group" label="Address" label-size="lg" style="text-align: left;"
              label-class="font-weight-bold pt-0">

              <b-form-group id="street" label="Street" label-for="street-input">
                <b-form-input id="street-input" placeholder="1600 Holloway Ave" required v-validate="'max:40'"
                  :state="validateState('street')"></b-form-input>
              </b-form-group>

              <b-form-group id="city" label="City" label-for="city-input">
                <b-form-input id="city-input" placeholder="San Francisco" required></b-form-input>
              </b-form-group>

              <b-form-group id="state" label="State" label-for="state-input">
                <b-form-input id="state-input" placeholder="California" required></b-form-input>
              </b-form-group>

              <b-form-group id="country" label="Country" label-for="country-input">
                <b-form-input id="country-input" placeholder="United States" required></b-form-input>
              </b-form-group>

              <b-form-group id="zip-code" label="ZIP Code" label-for="zip-code-input">
                <b-form-input id="zip-code-input" placeholder="94132" type="number" required></b-form-input>
              </b-form-group>

            </b-form-group>
          </div>
        </b-col>
        </div>

        <hr style="border: 0.5px solid #e7e7e7; margin-top: 5px">

        <div class="card border-0">
          <b-col sm="6">
          <div>
            <b-form-group id="property-input-group" label="Property Details" label-size="lg" style="text-align: left;"
              label-class="font-weight-bold pt-0">

              <b-form-group id="title" label="Post Title" label-for="title-input">
                <b-form-input id="title-input" required></b-form-input>
              </b-form-group>

              <b-form-group id="home-type" label="Home Type" label-for="home-type-input">
                <b-form-select id="home-type-input" required></b-form-select>
              </b-form-group>

              <b-form-group id="sq-feet" label="Square Feet" label-for="sq-feet-input">
                <b-input-group append="sq. ft.">
                  <b-form-input id="sq-feet-input" type="number" required></b-form-input>
                </b-input-group>
              </b-form-group>

              <b-form-group id="num-beds" label="# of Beds" label-for="num-beds-input">
                <b-form-select id="num-beds-input" required></b-form-select>
              </b-form-group>

              <b-form-group id="price" label="Price" label-for="price-input">
                <b-input-group prepend="$">
                  <b-form-input id="price-input" type="number" required></b-form-input>
                </b-input-group>
              </b-form-group>

              <b-form-group id="num-baths" label="# of Baths" label-for="num-baths-input">
                <b-form-select id="num-baths-input" required></b-form-select>
              </b-form-group>
            </b-form-group>
          </div>
        </b-col>
        <b-col sm="12">
              <b-form-group id="property-description" label="Property Description"
                label-for="property-description-input">
                <b-form-textarea id="property-description-input" rows="4" max-rows="8"></b-form-textarea>
              </b-form-group>
            </b-col>
              <b-col sm="6">
              <b-form-group id="photo-upload" label="Upload Listing Images" label-for="photo-upload-input">
                <b-form-file id="photo-upload-input" multiple="true" required></b-form-file>
              </b-form-group>
            </b-col>

        </div>

        <div class="card border-0">
          <div>
            <div class="row justify-content-center" style="margin-bottom: 20px; margin-top: 40px;">
            <b-button v-b-modal.confirm-modal href="/" variant="secondary" style="float: right;" size="lg">Cancel</b-button>
            <b-button style="margin-left:80px" v-b-modal.confirm-modal type="submit" variant="success" style="float: right;" size="lg">Submit</b-button>
              </div>
            <b-modal centered hide-footer="true" id="confirm-modal" size="lg" title="Posting on its way!">
              <h5 align="center">Your posting may take up to 24 hours to be approved. </br>
              </br>
                Thank you for posting with Freshwater Rentals!</h5>
              <hr>
              <div class="row justify-content-center">
                <b-button type="submit" href="/" variant="primary" style="float: right;" size="lg">Back to Home
                </b-button>
              </div>
            </b-modal>

          </div>
        </div>


      </b-container>
    </div>

  </div> <!-- end app div -->

{% endblock %}
{% block script %}

  <script>
    Vue.use(VeeValidate, {
      inject: true,
      fieldsBagName: "veeFields",
      errorBagName: "veeErrors"
    });
    window.app = new Vue({
      el: "#app",
      delimiters: ['[[', ']]'],
      components: {
        'vee-validate': VeeValidate
      },
      data: {
        name: '',
        form: {
          name: '',
          lastname: '',
          address: '',
          date: '',
          street: '',
          area: '',
          price: '',
          email: '',
          email2: '',
          options: ['High School Diploma', 'Associates Degree', 'Bachelors Degree', 'Masters Degree', 'PhD', 'MPH', 'JD', 'MD'],
          checked: [],
          verify: '',

        },
        listingOptions: [
          { text: 'For Rent', value: 'rent' },
          { text: 'For Sale', value: 'sale' },
        ],
        show: true,
        picked: 0,
        selected_home: null,
        selected_beds: null,
        selected_baths: null
      },
      methods: {
        onSubmit() {
          this.$validator.validateAll().then(result => {
            if (!result) {
              alert("Not complete")
              return;
            }

            alert("Form submitted!");
            this.$refs.form.submit();
          });
        },
        validateState(ref) {
          if (
            this.veeFields[ref] &&
            (this.veeFields[ref].dirty || this.veeFields[ref].validated)
          ) {
            return !this.veeErrors.has(ref);
          }
          return null;
        },

        onVerify: function (response) {
          this.form.verify = response
          console.log('Verify: ' + response)
        },
        onExpired: function () {
          console.log('Expired')
        },
        resetRecaptcha() {
          this.$refs.recaptcha.reset() // Direct call reset method
        },
        send_json(evt) {
          return JSON.stringify(this.form)
        },

      },
    })
  </script>
{% endblock %}
</body>

</html>
